/* YeyeYeee código aquí */
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Maiden Orange', cursive;
}

.container-sign-up{
	margin-top: 300px;
}
.input-field{
	margin-top: 30px;
	border-radius: 10px;
}
#slide-out{
	padding-top: 50px;
}
.material{
	position: relative;
	top: 30px;
	font-size: 30px;
}
.boton-input{
	margin-top: 100px;
}
.nav-trans{
	font-size: 25px;
}
.mover-botones{
	margin-top: 100px;
}
.botones{
	position: relative;
	top: 5px;
	width: 50%;
	height: 60px;
	border-radius: 10px;
	color: white;
	font-size: 20px;
}
.opciones{
	margin-top: 30px;
}
.profile-img{
	margin-top: 100px;
	width: 200px;
}
.tarjetas_listas{
	margin-top: 100px;
	width: 85%;
	height: 600px;
	border-radius: 30px;
}
.input-mail-tarjeta{
	position: relative;
	left: 90px;
	top: 150px;
	width: 80%;
	margin-top: 50px;
	border-radius: 10px;
}
#boton-agregar-tarjeta{
	margin-top: 180px;
	font-size: 20px;
}
.added-card{/*cachoooooooo*/
	display: flex;
	align-items: center; 
	position: relative;
	top: 30px;
}
.card-card{
	margin-top: 10px;
}
.orange-card{
	border-radius: 15px;
}